<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (mensajeError) { %>
            <div class="user-message user-message--error"><%= mensajeError %></div>
        <% } %>
        <form class="login-form" action="/registrarse" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-control">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="passwordConfirmado">Confirmar Contraseña</label>
                <input type="password" name="passwordConfirmado" id="passwordConfirmado">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Registrarse</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>