<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Tienda</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/productos' ? 'active' : '' %>" href="/productos">Productos</a>
            </li>
            <% if (autenticado) { %>
            <li class="main-header__item">
                <a class="<%= path === '/carrito' ? 'active' : '' %>" href="/carrito">Carrito</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/pedidos' ? 'active' : '' %>" href="/pedidos">Pedidos</a>
            </li>
            
            <li class="main-header__item">
                <a class="<%= path === '/admin/crear-producto' ? 'active' : '' %>" href="/admin/crear-producto">Crear Producto
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/productos' ? 'active' : '' %>" href="/admin/productos">Admin Productos
                </a>
            </li>
            <% } %>
            
        </ul>
        <ul class="main-header__item-list">
            <% if (!autenticado) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/ingresar' ? 'active' : '' %>" href="/ingresar">Ingresar</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/registrarse' ? 'active' : '' %>" href="/registrarse">Registrarse</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/salir" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Salir</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Tienda</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/productos' ? 'active' : '' %>" href="/productos">Productos</a>
            </li>
            <% if (autenticado) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/carrito' ? 'active' : '' %>" href="/carrito">Carrito</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/pedidos' ? 'active' : '' %>" href="/pedidos">Pedidos</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/crear-producto' ? 'active' : '' %>" href="/admin/crear-producto">Crear Producto
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/productos' ? 'active' : '' %>" href="/admin/productos">Admin Productos
                </a>
            </li>
            <% } %>
            <% if (!autenticado) { %>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/ingresar' ? 'active' : '' %>" href="/ingresar">Ingresar</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/registrarse' ? 'active' : '' %>" href="/registrarse">Registrarse</a>
                </li>
            <% } else { %>
                <li class="mobile-nav__item">
                    <form action="/salir" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Salir</button>
                    </form>
                </li>
            <% } %>
        </ul>
</nav>
