<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= producto.nombre %></h1>
            <hr>
            <div>
                <img src="<%= producto.urlImagen %>" alt="<%= producto.imagen %>">
            </div>
            <h2>S/ <%= producto.precio %></h2>
            <p><%= producto.descripcion %></p>
            <%- include('../includes/agregar-al-carrito.ejs') %>

        </main>
        <%- include('../includes/end.ejs') %>