<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/pedidos.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (pedidos.length==0) { %>
                    <h1>No ha realizado pedidos</h1>
                    <% } else { %>
                        <ul class="orders">
                            <% pedidos.forEach(pedido=> { %>
                                <li class="orders__item">
                                    <h1>Pedido - # <%= pedido._id %>
                                    </h1>
                                    <ul class="orders__products">
                                        <% pedido.items.forEach(producto=> { %>
                                            <li class="orders__products-item">
                                                <%= producto.nombre %> (<%= producto.cantidad %>)
                                            </li>
                                            <% }); %>
                                    </ul>
                                </li>
                                <% }); %>
                        </ul>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>